.login {
  margin-top: 10rem;
  width: 39rem;
  height: 28.5rem;
  border-radius: 24px;
  &__header {
    padding: 3rem 6rem 0rem 6rem;
  }
  &__body {
    padding: 0rem 10rem 0rem 10rem;
  }
  &__login-trouble {
    padding: 0rem 10rem 0rem 10rem;
  }
  &__footer {
    padding: 0rem 10rem 0rem 10rem;
  }
}
